PORT = 3000
MONGO_URI = mongodb+srv://user123:user123@cluster0.zh5hn.mongodb.net/user123?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 951047146575-e7rck38ghq425eio1lsd0nrr2fm6bcr1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = Feula9G_ktI4ZnBSE08lKt1z